# 現在のディレクトリー位置をrootとする
root = true

# 全てのファイルに対する設定
[*]
# 改行コード
end_of_line = lf
# 文字コード
charset = utf-8
# ファイル末尾に空行を追加する
insert_final_newline = true
# 行末尾の空白文字を削除する
trim_trailing_whitespace = true
# インデント指定
indent_style = space
# 指定した拡張子に対する設定
[*.{js,jsx,css,pcss}]
# インデント幅
indent_size = 2
